body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}

.admin-container {
  padding: 30px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.summary-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  background: #1e88e5;
  color: white;
  padding: 25px 50px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
}

.card-value {
  font-size: 28px;
  font-weight: bold;
}

.table-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.table-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1e88e5;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.success {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}
.filter-box {
  margin: 20px 0;
  text-align: center;
}

.filter-box input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
select {
  margin-bottom: 10px;
  padding: 8px;
}
button {
  padding: 8px 12px;
  margin-bottom: 10px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
